<div>
  <h1>Todas mis dietas</h1>
  <p>Nota: <small>para ingresar al contenido de cada dieta, solo pica en el nombre</small></p>
  <div>
    {{#each recipes}}
    <div class="card bg-secondary mb-3 " style="max-width: 18rem;">
      <div class="card-header">Dieta</div>
      <div class="card-body">
        <h4 class="card-title">
          <a href="/recipe/{{_id}}">{{title}}</a>
        </h4>
        <a href="/recipes/edit/{{_id}}">
          <button type="button" class="btn btn-outline-primary">
            Update
          </button>
        </a>
        <form action="/recipes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-outline-danger">
            Delete
          </button>
        </form>
      </div>
    </div>
    {{else}}
    <div class="mb-5">
      <h4>Oops!</h4>
      <p class="lead">
        No hemos encontrado ninguna dieta, añadélas <a href="/recipes/add">aquí</a>.
      </p>
    </div>
    {{/each }}
  </div>
</div>