<div class="card all-page">
    <div class="card-header">Ingredient: {{ingredient.title}}</div>
    <div class="card-body">
        <ul>
            <li>Type: {{ingredient.tipo}}</li>
            <li>Calories: {{ingredient.calorias}}mg</li>
            <li>Carbohydrates: {{ingredient.hdecarbono}}mg</li>
            <li>Fat: {{ingredient.grasa}}mg</li>
            <li>Protein: {{ingredient.proteina}}mg</li>
        </ul>
        <p>Note: <small>The amounts are represented <em> in mg out of 100g</em>.</small></p>
    </div>
</div>